recursive-include linkdown/templates *
recursive-exclude linkdown/templates .DS_Store
recursive-exclude linkdown/templates .gitignore
recursive-exclude linkdown/templates/public_html *
recursive-include doc *
recursive-exclude doc .DS_Store
recursive-include doc_src *
recursive-exclude doc_src .DS_Store
include COPYING
include README.rst
include distribute_setup.py

