<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ root }}/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    {% block head %}{% endblock %}
    <link href="{{ root }}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body {% block bodyattr %}{% endblock %}>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ root }}/index.html">Linkdown</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ root }}/index.html">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ root }}/about.html">About</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ root }}/install.html">Install</a></li>
                  <li><a href="{{ root }}/start.html">Start</a></li>
                  <li><a href="{{ root }}/todo.html">ToDo</a></li>
                </ul>
              </li>

              <li><a href="{{ root }}/jinja2/index.html">Jinja2</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Markdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ root }}/markdown/markdown.html">Markdown Syntax</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ root }}/markdown/extensions.html">Markdown extensions</a></li>
                  <li><a href="{{ root }}/markdown/template.html">Jinja2 template for Markdown</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">reStructuredText <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ root }}/rst/rst.html">A ReStructuredText Primer</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ root }}/rst/quickref.html">Quick reStructuredText</a></li>
                  <li><a href="{{ root }}/rst/cheatsheet.html">The reStructuredText Cheat Sheet: Syntax Reminders</a></li>
                </ul>
              </li>
              <li class="active pull-right">
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div style="text-align:right">
        Read original source of this page &rarr; <a href="{{ root }}/../{{ originalpath }}" class="btn btn-info">View Source</a>
      </div>
      {% block content %}

      {% endblock %}


      <hr>

      <footer>
        <p>&copy; Y.Okamura 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ root }}/js/jquery-1.8.3.min.js"></script>
    <script src="{{ root }}/js/bootstrap.min.js"></script>

  </body>
</html>
